{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
		{% block title%}
        <title>Wordle by 3-OAK Brothers</title>
        {% endblock title %}
		<link rel="stylesheet" type="text/css" href="{% static '/styles/tailwindcss/input.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/styles/tailwindcss/output.css' %}" />
        {% block script %}{% endblock script %}
	</head>

	<body class="bg-[#0B1340] h-screen w-screen">
        {% block body %}
        {% endblock body %}
	</body>
</html>
