{% extends 'base/base.html' %}
{% load static %}

{% block body %}
<div id="body-content" class="h-full flex items-center justify-center flex-row gap-4 font-Metral-Bold">
    <input type="text" name="letter-one" id="letter-one-1" maxlength="1"
        class="border-2 rounded-sm bg-transparent flex justify-center items-center text-center py-2 px-1 max-w-20 text-2xl text-white" />
    <input type="text" name="letter-two" id="letter-two-2" maxlength="1"
        class="border-2 rounded-sm bg-transparent flex justify-center items-center text-center py-2 px-1 max-w-20 text-2xl text-white disabled:opacity-10" />
    <input type="text" name="letter-three" id="letter-three-3" maxlength="1"
        class="border-2 rounded-sm bg-transparent flex justify-center items-center text-center py-2 px-1 max-w-20 text-2xl text-white disabled:opacity-10" />
    <input type="text" name="letter-four" id="letter-four-4" maxlength="1"
        class="border-2 rounded-sm bg-transparent flex justify-center items-center text-center py-2 px-1 max-w-20 text-2xl text-white disabled:opacity-10" />
    <input type="text" name="letter-five" id="letter-five-5" maxlength="1"
        class="border-2 rounded-sm bg-transparent flex justify-center items-center text-center py-2 px-1 max-w-20 text-2xl text-white disabled:opacity-10" />
    <input type="text" name="letter-six" id="letter-six-6" maxlength="1"
        class="border-2 rounded-sm bg-transparent flex justify-center items-center text-center py-2 px-1 max-w-20 text-2xl text-white disabled:opacity-10" />
</div>
{% endblock body %}